{% extends "base.html" %}

{% block content %}
<section class="content">	
<!-- Your Page Content Here -->

{% if headerDto.Type != "Team" %}
	<div class="col-lg-3 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-green">
			<div class="inner">
				<a href={%url "licenceList" %}>
			  <h3>Licencias</h3>

			  <p>{{Numero}} tipos</p>
			</div>
			<div class="icon">
			  <i class="fa fa-medkit"></i>
			</div>
			<div class="box box-success box-solid collapsed-box">
				<div class="box-header with-border">
				  <h3 class="box-title">Más detalles</h3>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				  </div>
				  <!-- /.box-tools -->
				</div>
			<!-- /.box-header -->
			<div class="box-body" style="display: none;">
			  The body of the box
			</div>
			<!-- /.box-body -->
		  </div>
	  </div>
	</div>		
	
	<div class="col-lg-3 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-yellow">
			<div class="inner">
				<a href={%url "competitionList" %}>
			  <h3>Competiciones</h3>

			  <p>0 competiciones activas</p>
			</div>
			<div class="icon">
			  <i class="fa fa-trophy"></i>
			</div>
			<div class="box box-warning box-solid collapsed-box">
				<div class="box-header with-border">
				  <h3 class="box-title">Más detalles</h3>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				  </div>
				  <!-- /.box-tools -->
				</div>
			<!-- /.box-header -->
			<div class="box-body" style="display: none;">
			  The body of the box
			</div>
			<!-- /.box-body -->
		  </div>
	  </div>
	</div>	
	{% endif %}
	
	<div class="col-lg-3 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-aqua">
			<div class="inner" >
				{% if headerDto.Type == "Team" %}
					<a href={%url "playerListTeam" %}>
				{% else %}
					<a href={%url "playerListRegion" headerDto.Id %}>					
				{% endif %}
				  <h3>Jugadores</h3>

				  <p>0 jugadores activos</p>
					<div class="icon">
					  <i class="fa fa-users"></i>
					</div>
				</a>
			</div>
			<div class="box box-info box-solid collapsed-box">
				<div class="box-header with-border">
				  <h3 class="box-title">Más detalles</h3>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				  </div>
				  <!-- /.box-tools -->
				</div>
			<!-- /.box-header -->
			<div class="box-body" style="display: none;">
			  The body of the box
			</div>
			<!-- /.box-body -->
		  </div>
	  </div>
	</div>	

	
	<div class="col-lg-3 col-xs-6">
	  <!-- small box -->
	  <div class="small-box bg-red">
			<div class="inner">
			  <h3>Roster</h3>
				{% if headerDto.Type == "Team" %}
					<a href={%url "rosterListTeam" %}>
				{% else %}
					<a href={%url "rosterListRegion" %}>
				{% endif %}
			  <p>Rosters disponibles</p>
			</div>
			<div class="icon">
			  <i class="fa fa-file-text-o"></i>
			</div>
			<div class="box box-danger box-solid collapsed-box">
				<div class="box-header with-border">
				  <h3 class="box-title">Más detalles</h3>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				  </div>
				  <!-- /.box-tools -->
				</div>
			<!-- /.box-header -->
			<div class="box-body" style="display: none;">
			  The body of the box
			</div>
			<!-- /.box-body -->
		  </div>
	  </div>
	</div>	

</section>
{% endblock %}
