{% extends "base.html" %}

{% block content %}   
<section class="content">	  	
<a class="btn btn-app" href={%url "newPlayer" %}>Nuevo Jugador</a>

<div class="small-box bg-aqua">
	<div class="inner" >
		<a href={%url "playerList" %}>
		  <h3>Jugadores</h3>

		  <p>0 jugadores activos</p>
			<div class="icon">
			  <i class="ion ion-person-add"></i>
			</div>
		</a>
	</div>
	<div class="box box-info box-solid">
		<div class="box-header with-border">
		  <h3 class="box-title">Más detalles</h3>

		  <div class="box-tools pull-right" >
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
			</button>
		  </div>
		  <!-- /.box-tools -->
		</div>
	<!-- /.box-header -->
	<div class="box-body sidebar-collapse">
		<table id="playerList" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Estado<th>
				<th>No.Licencia<th>
				<th>Nombre<th>
				<th>Solicitud<th>
				<th>Alta<th>
				<th>Tipo<th>
				<th>Precio<th>
				<th>Hom <th>
				<th>Precio<th>
				<th>Total<th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>Tiger Nixon</td>
			<td>System Architect</td>
			<td>Edinburgh</td>
			<td>61</td>
			<td>2011/04/25</td>
			<td>$320,800</td>
			<td>2011/04/25</td>
			<td>$320,800</td>
			<td>2011/04/25</td>
			<td>$320,800</td>
		</tr>
		</tbody>
		</table>
	</div>
	<!-- /.box-body -->
	
	<script>
	$(document).ready(function() {
		$('#playerList').DataTable();
	} );
	</script>
</div>
</section>
{% endblock %}