{% extends "base.html" %}

{% block content %}   
<section class="content">	


{% for team in playersDto.Teams %}
	<div class="small-box bg-aqua">
		<div class="inner" >
			<a>
			  <h3>Jugadores activos de {{team.Name}} </h3>
			  <a type="button" class="btn btn-warning btn-sm" href={%url "newPlayer" playersDto.Id %}>Nuevo Jugador</a>	
			  <p>0 jugadores activos</p>
				<div class="icon">
				  <i class="ion ion-person-add"></i>
				</div>
			</a>
		</div>
		<div class="box box-info box-solid collapsed-box">
			<div class="box-header with-border">
			  <h3 class="box-title">Más detalles</h3>
			  <div class="box-tools pull-right" >
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
				</button>
			  </div>
			  <!-- /.box-tools -->
			</div>
		<!-- /.box-header -->
		<div class="box-body list-gf sidebar-collapse" style="display: none;">
			<table id="playerList" class="display" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Licencia</th>
						<th>Nombre</th>
						<th>Fec. Nacimiento</th>
						<th>Tipo Licencia</th>
						<th>Estado</th>
						<th>Precio</th>
						<th>Detalle jugador</th>
						<th>Modificar Licencia</th>
					</tr>
				</thead>
				<tbody>
				{% for player in team.Players %}
					<tr>
						<td>{{player.Licence}}</td>
						<td>{{player.Name}} {{player.Surname}}</td>
						<td>{{player.BirthDate}}</td>
						<td>{{player.LicenceName}}</td>
						<td>{{player.State}}</td>
						<td>{{player.Price}}</td>
						<td> <a type="button" class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#{{player.Licence}}">Ver ficha</a> </td>								
						<td>$320,800</td>

						<div class="modal fade" id="{{player.Licence}}" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">Detalle de ficha</h4>
									</div>
									<div class="modal-body">
										<h4>DNI: {{player.DNI}} </h4>
										<h4>Name: {{player.Name}} </h4>
										<h4>Surname: {{player.Surname}} </h4>
										<h4>BirthDate: {{player.BirthDate}} </h4>
										<h4>Country: {{player.Country}} </h4>
										<h4>ZIPCode: {{player.ZIPCode}} </h4>
										<h4>City: {{player.City}} </h4>
										<h4>Region: {{player.Region}} </h4>
										<h4>Mail: {{player.Mail}} </h4>
										<h4>Gender: {{player.Gender}} </h4>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
										<a type="button" class="btn btn-primary" href={%url "editPlayer" player.Id %}>Modificar</a>
									</div>
								</div>
							</div>
						</div>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
</div>
{% endfor %}
</section>

<script>
$(document).ready(function() {
	$('#playerList').DataTable();
});
</script>

{% endblock %}
